.avatar{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-bottom: 25px;
}

.bio{
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    max-width: 700px;
}


#p-two{
    font-size: 20px;
}